<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>Reg checker</title>
</head>

<body style="background-color: #DC9FB4">
  <div id="app" class="container">
    <h3>查詢是否報名時光屋成功</h3>
    <input v-model:value="email" type="email" placeholder="請輸入報名email">
    <button @click="checkSignUp(email)" class="btn btn-primary btn-sm">查詢</button>
    <div v-if="success===true">
      <h3>您輸入的email是{{email}}</h3>
      <h3>恭喜！{{name}},您已於{{time}}報名精神時光屋成功！</h3>
    </div>
    <div v-else-if="success==='loading'">
      <img src="./loading.gif" width="100">
    </div>
    <div v-else>
      <h3>{{result}}</h3>
    </div>

    <hr>
    <button @click="checkTotalReg()" class="btn btn-primary btn-sm">查詢報名人數</button>
    <div v-if="total">
      <h3>目前共有{{total}}人報名囉！！</h3>
    </div>
    <div v-else-if="totalLoading===true">
      <div>
        <img src="./loading.gif" width="100">
      </div>
    </div>

  </div>



  <!-- 轉換時間library -->
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

  <!-- AJAX library -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>
</body>

</html>